/* GENERAL PAGE CSS */
@import url('https://fonts.googleapis.com/css?family=Montserrat');


body {
    font-family: Montserrat;
}

main {
  height: 100%;
}

header {
  padding: 10px 25px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: grey;
  .oasis-footer__icons {
    right: 0;
  }
}

h1 {
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 25px;
}

h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-top: 10px;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.1rem;
}

p {
    margin-top: 10px;
}
.oasis-text--secondary {
  font-style: italic;
  color: grey;
  text-transform: none;
}
.oasis-layout__content {
  max-width: 1000px;
  margin: 10px auto;
  padding: 20px;
}
