/* GENERAL PAGE CSS */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: Montserrat;
}

main {
    margin: 25px;
}

h1 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 25px;
}

h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-top: 10px;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.1rem;
}

p {
    margin-top: 10px;
}